footer.tweet-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  border-top: solid 3px #555149;
  padding: 10px 0px;
}

footer {
  position: relative;
}

.footer-to-top {
  visibility: hidden;
  position: fixed;
  bottom: 15px;
  right: 15px;
  background-color: #fc6601;
  border: none;
  height: 75px;
  width: 75px;
  z-index: 99;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

.scrolled {
  visibility: visible;
}

#to-top-btn {
  color: white;
  transform: rotate(180deg);
  font-size: 45px;
}

.footer-to-top:hover {
  background-color: rgb(175, 80, 184);
}

.round {
  border-radius: 50%;
}
