header.user-info {
  padding-top: 5px;
  display: flex;
  height: 400px;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #a254f1;
  background-image: url("../images/cartographer.png");
}

header.tweet-list {
  height: 75px;
  display: flex;
  flex-direction: row;
  position: relative;
}

.header-name {
  color: white;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 40px;
  margin-bottom: 25px;
}

@media only screen and (min-width: 1024px) {
  header.user-info {
    margin: 50px 40px;
    width: 350px;
    height: 350px;
  }

  .header-image {
    width: 11rem;
    height: 11rem;
  }
}
