nav {
  position: fixed;
  height: 120px;
  width: 100%;
  background-color: #902bf5;
  color: #ffffff;
  padding-left: 1.5em;
  padding-right: 1.5em;
  position: relative;
}

.nav-span {
  font-family: "Bungee", cursive;
  position: absolute;
  bottom: 30px;
  font-size: 40px;
}

.nav-right {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
  right: 1.5em;
  font-size: 25px;
  bottom: 20px;
}

strong {
  font-weight: bold;
}

.nav-bold {
  flex: 1;
}

.fa-angles-down {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  color: #fc6601;
}

.compose-tweet-btn {
  background-color: transparent;
  color: #ffffff;
  border: none;
  cursor: pointer;
}
