article {
  border: 3px solid #555149;
  margin: 25px 0px;
  padding: 15px;
  transition: box-shadow 0.5s ease;
}

article:hover {
  box-shadow: 7px 7px rgba(179, 179, 179, 0.774);
}

.tweet-avatar {
  height: auto;
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.icons {
  width: auto;
  font-size: 15px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  right: 0px;
}

.space {
  width: 5px;
}

.date {
  display: flex;
  flex-direction: row;
  height: 10px;
  width: auto;
  font-size: 15px;
  margin-left: 10px;
}

h4 {
  display: flex;
  margin-left: 5px;
  height: auto;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
  font-size: 25px;
  align-items: center;
}

h4.user-handle {
  font-family: "Source Sans Pro", sans-serif;
  position: absolute;
  right: 10px;
  font-weight: 600;
  font-size: 25px;
}

a {
  color: #fc6601;
  transition: color 0.5s ease;
}

a:hover {
  color: rgb(175, 80, 184);
}
